@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
html,
body {
  margin: 0;
  padding: 0;
  background: #ffffff;
  font-family: 'Inter', sans-serif;
}

.content {
  height: 1500px;
}

.nav-title {
  font-size: 20px;
  font-weight: bold;
}

.nav {
  width: 100vw;
  height: 60px;
  background: white;
  box-shadow:  10px 10px 40px #a3a3a3,
    -20px -20px 60px #ffffff;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

._nav {
  width: 100vw;
  height: 60px;
  /* box-shadow:  10px 10px 40px #bebebe,
    -20px -20px 60px #ffffff; */
  position: fixed;
  border-bottom: solid 1px;
  border-color: rgb(180, 180, 180);
  background: white;
  /* background-color: hsla(0,0%,100%,.9); */
  /* backdrop-filter: blur(20px); */
  z-index: 40;

  display: flex;
  align-items: center;
  justify-content: space-around;

  transform: translateY(-65px);
  transition: all .5s;
}

._nav_ {
  width: 100vw;
  height: 60px;
  /* box-shadow:  10px 10px 40px #bebebe,
    -20px -20px 60px #ffffff; */
  position: fixed;
  border-bottom: solid 1px;
  border-color: rgb(180, 180, 180);
  z-index: 40;
  background: white;
  /* background-color: hsla(0,0%,100%,.9); */
  /* backdrop-filter: blur(20px); */

  display: flex;
  align-items: center;
  justify-content: space-around;

  transform: translateY(0px);
  transition: all .5s;
}

.btn {
  background: #eeeeee;
  color: rgb(39, 39, 39);
  font-size: 18px;
  font-weight: bold;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 50px;
  cursor: pointer;

  border: 0;
  outline: 0;
}
.btn:hover {
  background: #d8d8d8;
}

.bg {
  width: 100vw;
  height: 500px;
  background-image: url('../assets/bg.png');
  /* margin-bottom: 1500px; */

  display: flex;
  justify-content: center;
  align-items: center;

}

.bg-content {
  font-weight: bold;
  font-size: 30px;
}

.bg-info {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 200px;

  display: flex;
  justify-content: space-around;
  /* background-color: hsla(219, 100%, 50%, 0.3); */
  border-bottom: solid 1px;
  border-color: rgb(180, 180, 180);
}

.card-sub {
  padding-bottom: 10px;
  margin-bottom: 10px;

  display: flex;
  justify-content: space-around;
  /* background-color: hsla(219, 100%, 50%, 0.3); */
  border-bottom: solid 1px;
  border-color: rgb(180, 180, 180);
}

.bg-info-text {
  font-weight: bold;
  font-size: 25px;
}

.cards {
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;

}

.card-contain {
  width: 80%;
  display: flex;
  /* justify-content: space-around; */
  justify-content: center;
  flex-wrap: wrap;

}

.card {
  margin: 40px;
  border-radius: 20px;
  box-shadow:  10px 10px 40px #bebebe,
    -20px -20px 60px #ffffff;
}

.card-img {
  margin: 20px;
  width: 300px;
  height: 180px;
  object-fit: cover;
}

.card-title {
  font-weight: bold;
  font-size: 20px;
  margin: 0px 20px 20px 20px;
  color: rgb(8, 8, 8);
}

.props {
  color: black;
  font-weight: bold;
  font-size: 20px;
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 100px;
}